HELP.md
!.mvn/wrapper/maven-wrapper.jar
target
src\test
src\main\resources

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Ignorar directorios de construcción
target/
.idea/
.classpath
.project
.settings/
.devcontainer.env

# Ignorar archivos de dependencias
*.log
*.class

# Ignorar archivos de configuración de Maven
.mvn/
.mvnw
.mvnw.cmd

# Ignorar archivos de la IDE (IntelliJ, Eclipse, etc.)
.vscode/
*.iml
