<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Este head no se usa, solo es para que el fragmento sea válido -->
</head>

<body>

    <footer class="text-muted py-5" th:fragment="footer">
        <div class="containerFooter">
            <p class="mb-1">&copy; 2025 | Hecho con 💙, código y un toque de creatividad.
                <br> by Romina Avalos;
            </p>
            <p class="mb-0"> Si querés ver el proyecto <br> Visitá el repositorio </a> en GitHub <a
                    href="https://github.com/r0minaflorencia/Libreria_Rest" target="_blank"> Click acá </a>.</p>
            <p class="float-end mb-1">
                <a href="#" style="text-decoration:none"><span>⬆️</span> Back to top</a>
            </p>
        </div>
    </footer>

</body>

</html>