.navBar {
    background-color: #fff !important;
    padding: 0 20px;
}

.elementosNav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #37474f;
    font-weight: 700;
    width: auto;
}

.elementos {
    margin-right: 0;
}

.containerImg {
    width: 20%;
}

.logo {
    width: 40%;
    margin: auto;
}

.mensajeExito {
    width: 20%;
    margin: auto;
    text-align: center;
}

.mensajeError {
    width: 20%;
    margin: auto;
    text-align: center;
}

.img-reducida {
    max-width: 20%;
    /* Ajusta el tamaño de la imagen */
    height: auto;
    /* Mantiene la proporción */
}

.containerFooter {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Responsive */
@media (max-width: 768px) {

    .elementosNav {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .main-container {
        padding: 10px;
    }

    .panel-container {
        padding: 20px;
        margin: 10px;
    }

    .formulario {
        width: 90%;
    }
}