.navBar {
    background-color: #fff !important;
}

.elementosNav {
    display: flex;
    width: 30%;
    justify-content: space-around;
    color: #37474f;
    font-weight: 700;
}

.elementos {
    margin-right: 50px;
}

.containerImg {
    width: 20%;
}

.logo {
    width: 40%;
    margin: auto;
}

.contenedor {
    /* Foto de Pixabay: https://www.pexels.com/es-es/foto/libros-en-estanteria-de-madera-negra-159711/ */
    background-image: url(../img/background_2.jpg) !important;
    justify-content: center;
}

.table {
    justify-content: center;
}

.containerFooter {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fas {
    margin-right: 7px;
    margin-left: 10px;
}

.btn {
    margin-left: 15px;
}

.boton:active {
    box-shadow: none;
}