.navBar {
    background-color: #fff !important;
    padding: 0 20px;
}

.elementosNav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #37474f;
    font-weight: 700;
    width: auto;
}

.elementos {
    margin-right: 0;
}

.containerImg {
    width: 20%;
}

.logo {
    width: 40%;
    margin: auto;
}

.contenedor {
    /* Foto de Pixabay: https://www.pexels.com/es-es/foto/libros-en-estanteria-de-madera-negra-159711/ */
    background-image: url(../img/background_2.jpg) !important;
    justify-content: center;
}

.table {
    justify-content: center;
}

.containerFooter {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fas {
    margin-right: 7px;
    margin-left: 10px;
}

.btn {
    margin-left: 15px;
}

.boton:active {
    box-shadow: none;
}

/* Responsive */
@media (max-width: 768px) {

    .elementosNav {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .main-container {
        padding: 10px;
    }

    .panel-container {
        padding: 20px;
        margin: 10px;
    }

    .formulario {
        width: 90%;
    }
}