<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Biblioteca Delta</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/list.css}">
</head>

<body>

    <div th:insert="~{fragments/navBar :: navbar}"></div>

    <div class="contenedor">

        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <table class="table table-light">
                    <thead>
                        <tr>
                            <th scope="col">ISBN</th>
                            <th scope="col">Titulo</th>
                            <th scope="col">Ejemplares</th>
                            <th scope="col">Autor</th>
                            <th scope="col">Editorial</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>

                    <tbody th:each="libro : ${libros}">
                        <tr>
                            <th scope="row" th:text="${libro.isbn}"></th>
                            <td th:text="${libro.titulo}"></td>
                            <td th:text="${libro.ejemplares}"></td>
                            <td th:text="${libro.autor.nombre}"></td>
                            <td th:text="${libro.editorial.nombre}"></td>
                            <td>

                                <a th:href="@{/libro/info/__${libro.isbn}__}" class="btn btn-info">
                                    Info
                                </a>

                                <a sec:authorize="hasRole('ADMIN')" th:href="@{/libro/modificar/__${libro.isbn}__}"><i
                                        class="fas fa-feather-alt"></i>
                                    Modificar
                                </a>

                                <a sec:authorize="hasRole('ADMIN')" th:href="@{/libro/eliminar/__${libro.isbn}__}"
                                    class="btn btn-danger"
                                    onclick="return confirm('¿Estás seguro de que querés eliminar este libro?');">
                                    Eliminar
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br>

                <div th:if="${exito != null}" class="card text-white bg-success mb-3 mt-3 mensajeExito">
                    <div class="card-body">
                        <h5 class="card-title">Éxito </h5>
                        <p class="card-text" th:text="${exito}"></p>
                    </div>
                </div>
                <div th:if="${error != null}" class="card text-white bg-danger mb-3 mensajeError">
                    <div class="card-body">
                        <h5 class="card-title">Error </h5>
                        <p class="card-text" th:text="${error}"></p>
                    </div>
                </div>

                <div class="col-lg-6 col-md-8 mx-auto">
                    <a th:href="@{/}" class="btn btn-primary my-2">Volver</a>
                    </p>
                </div>
            </div>
        </section>
    </div>

    <div th:insert="~{fragments/footer :: footer}"></div>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>

</body>

</html>