<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicia sesión</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/simple.css}">
</head>

<body>

    <div th:insert="~{fragments/navBar :: navbar}"></div>

    <div class="contenedor">

        <form class="formulario" th:action="@{/usuario/login}" method="POST" th:object="${loginRequest}">

            <div class="form-group my-3">
                <h3 class="card-title">Inicia sesión</h3>
            </div>

            <div class="form-group my-3">
                <input type="email" class="form-control" th:field="*{email}" placeholder="Email" required>
            </div>

            <div class="form-group my-3">
                <input type="password" class="form-control" th:field="*{password}" placeholder="Contraseña" required>
            </div>

            <button type="submit" class="btn btn-primary mt-3 botones">Ingresar</button>

            <hr>

            <div class="text-center">
                <p>¿No tienes cuenta?
                    <a th:href="@{/usuario/register}" class="text-decoration-none">Regístrate aquí</a>
                </p>
            </div>

            <br>
            <!-- Mostrar errores si existen -->
            <div th:if="${param.error}" class="alert alert-danger mt-2">
                Usuario o contraseña incorrectos
            </div>
            <div th:if="${param.logout}" class="alert alert-success mt-2">
                Saliste de tu cuenta
            </div>

        </form>

        <section class=" text-center container">
            <div class="row mt-3">
                <div class="divVolver">
                    <a th:href="@{/}" class="btn btn-secondary my-2 botonVolver botones">Volver</a>
                </div>
            </div>
        </section>


    </div>

    <div th:insert="~{fragments/footer :: footer}"></div>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>


</body>